<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- Fuentes -->
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">

	<!-- Tema Debut -->
    <link href="/css/main.css" type="text/css" rel="stylesheet">

</head>
<body>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>