{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


<div class="container container-table">
    <div class="row vertical-center-row text-center">
    <h1 class="h1" id="title">Debut</h1>

    <h2>Micro-framework PHP para los que quieren MVC fácil.</h2>
    <div id="button-login">
        <a  href="/login" class="btn btn-default btn-lg glyphicon glyphicon-play"></a>
    </div>
</div>


{% endblock %}