<!-- 
/**
 * Permite obtener un cuadro con los mensajes flash enviados.
 * Accede al array de sesión y obtiene el tipo de mensaje 
 * almacenado
 */
-->
{% macro messages(type) %}
{% if session.flash_messages %}
    <div class="alert alert-danger">
        <ul>
            {% for message in session.flash_messages[type] %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
{% endmacro %}
